/** General Layout **/
body{
    background: #6B6B6B;
}


/* establishes base width for the page.*/
.container{
    position: relative;
    overflow: hidden;
    width: 960px;
    margin: auto;
    border-width: 1px 1px 0 1px;
}

/** Base Styles **/
#content h1 { 
    padding-bottom:6px; 
    font-weight:normal; 
    background:transparent
    url("../images/h1-line.gif") left bottom no-repeat; 
    margin-bottom:10px;
    margin-top: 25px; 
}

a { color: #003366; text-decoration: underline;}
a:hover { color:#003366; text-decoration: none; } 

.checkbox {
height:11px;
margin:0;
padding:0;
width:11px;
}



/** Header Layout **/
#header {
    position: relative;
    z-index: 100;
}

#header, #header a{
    color: #fefefe;
}

#header .container {
}

#logo{
    padding: 10px 0;
    float: left;
    display: block;
    height: 85px;
    width: 125px;
    background:  #6f6f6f;
    border: solid 2px #aaa;
    text-align: center;
    line-height: 85px;
    font-size: 18px;
    text-decoration:none;
    margin-bottom: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#header-actions {
    line-height: 22px;
    float: right;
    width: 500px;
    overflow: hidden;
    margin-top: 25px;
    padding: 20px 0;
}

#searchform {
    display: block;
    float: right;
    margin-top: 5px;
    position: relative;
}

#searchform input[type=text]{
    padding-right: 30px;
}

#searchform input:focus {
    background-color: #fff;
}

#search-button{
    background: transparent url(../images/search.png) center center no-repeat;
    position:absolute;
    right: 0;
    top: 0;
    text-indent: -99999px;
    border: none;
    height: 27px;
    width: 30px;
}

#controls {
    float: right;
    margin-right: 10px;
}

#controls li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase;
}

#controls a {
    margin-left: 1em;
    margin-right: 1em;    
}

/** Primary Navigation **/
#navigation{
    margin-top: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    color: #666;
    clear:left;
    background-color: #aaa;
    border-bottom: solid 1px;
}

#navigation li a {
	font-size:1.2em;
	line-height:36px;
	padding:0 24px;
	text-decoration:none;
    color: #666;
	border-right: 1px solid #666;
	text-transform: uppercase;
}

#navigation li, #navigation li a {
	display:block;
	float:left;
	height:36px;
	width:auto;
}

#navigation li a:hover, #navigation li a:active { 
	background:	#ccc; 
}
/* end Primary Navigation */

/** End Header **/

/** Body Layout **/
#body{
}

#body .container{
    background: #fff;
    padding-bottom: 50px;
}

h1{
/*    background: transparent url("../images/h1-line.gif") left bottom no-repeat; */
}

#content{
    margin-left: 240px;
    padding: 51px 25px 0 25px ;
}

/** Sidebar **/
#sidebar{
    float: left;
	width: 195px;
	min-height: 556px;
	padding-top: 51px;
    padding-left: 20px;
	padding-right: 20px;
    -moz-box-shadow: 0 -10px 10px #aaa;
    -webkit-box-shadow: 0 -10px 10px #aaa;
    box-shadow: 0 -10px 10px #aaa;

}

#sidebar h1, #sidebar h2, #sidebar h3{
    background-color: transparent;
    background-image:none;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
    font-weight:bold; 
}

#sidebar a {
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}
#sidebar li {
    padding: 10px 0;
}

#sidebar img {
    width: 100%;
}

/** End Sidebar **/

/* End Body Layout */

/** Footer Layout **/
#footer {
	clear:both;
	font-size:1em;
	letter-spacing:0.1em;
	padding: 40px 0;
	position:relative;
	text-align:center;
	width:100%;
    z-index: 5;
}

#footer .container{
    background-color: transparent;
    min-height: 0px;
}

#footer .facet-count {
 display: none;
}

#footer hr {
    width: 30%;
    
    color: #ccc;
}

#footer a {
    text-decoration: none;
    color: #cacaca
}

#footer a:hover {
    text-decoration: underline;
}

#footer ul li {
    display: inline;
}

.site-links, .browse ul {
    padding: .9em 0;
}

.site-links li, #footer .browse li {
    border-right: 1px solid #cacaca;
    padding: 0 0.7em;
}

.site-links li.last, .browse li.last {
    border-right: medium none;
}

.partners {
    padding: 1.7em 0;
}

.partners li {
    padding: 2em;
}

a.plink {
    color: #c33;
    text-decoration: none;
    padding-left: .2em;
    visibility: hidden;
}
/** end Footer layout **/

/** End General Layout **/
    
/** Homepage specific Layout **/

.home .content{
    margin:0;
    padding: 25px 0;
}

.home .content #headers{
    padding: 0 15px;
}

#site-splash {
    position: relative;
    height: 303px;
    color:#fff;
    background: transparent url(../images/dummy/mountains.jpg) -50px -150px no-repeat;
}    

#site-splash .browse {
  width:185px;
  height:303px;
  color:#fff;
  background-color: rgba(0,0,0, 0.6);  
  border: none;
}

#site-splash .browse h2 {
  padding: 40px 0 0 1em;
  color:#fff;
  background-color: transparent;
  background-image:none;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
  font-size: 1.4em;
  font-weight:bold; 
}

#site-splash .browse li {
    padding: 5px 20px;
}
#site-splash .browse a {
color: #fff;
text-decoration: none;
}

#site-splash .browse a:hover {
color: #ffa;
text-decoration: underline;
}

#featured {
    position: relative;
    overflow: hidden;
    margin: 0 0 50px 0;
    padding-top: 35px;
}

/** Featured Work Layout **/

#featured-work {
    float: left;
    width:446px; 
    min-height: 202px;
    max-height: 202px; 
    padding: 20px;
    margin-right: 25px;
    margin-left: 15px;
    color: #fff;
    background: #999;
}

#featured-work img {
    float: left;
    display: block;
    width: 81px;
    border: 1px solid #5b7c9d;
}

#featured-work .info {
    padding-left: 140px;
}

#featured-work .info h3 {
    display: inline;
    font-size: 1em;
    color:#fff;
    padding: 4px 5px;
    font-weight: bold;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
    text-transform: uppercase;
}

#featured-work p {
    padding: 15px 0 0 0;
}

#featured-work a {
    color: #cc3;
    text-decoration:none;
}

#featured-work a:hover {
    color: #cc3;
    text-decoration:underline;
}

/** End Featured Work **/

/** Recent **/
#recent {
    float: left;
    width: 400px;
}

#recent h2, #recent ul{
    width: 241px;
    margin: auto;
}

#recent h2 {
    padding: 0;
    color:#9a3334;
    background-color:#transparent;
    font-size:1.1em;
    text-transform:uppercase;
    background-image:none;
}

#recent li {
padding: .7em 1.1em;
border-bottom: 1px solid #000;
}

#recent li:hover {
color: inherit;
background-color: #eae7df;
}

#recent a {
color:#333;
background-color:transparent;
text-decoration: none;
font-weight: normal;
}

#recent li.last {
border-bottom: 2px solid #000;
}

#recent li.first {
border-top: 2px solid #000;
}
/** End Recent **/

/** End Homepage specific Layout**/

/** Search Results **/

.result-list .work {
    position: relative;
    padding: 15px 40px 15px 0;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    border-bottom: solid 1px #eeeeee;
}

.result-list li.work .comment-count{
    background: transparent url(../images/comment-box.png) center no-repeat;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 31px;
    height: 29px;
    line-height: 23px;
    text-align: center;
}

.result-list li.section {
    background: transparent url(../images/famfamfam/bullet_black.png) left center no-repeat;
    margin-left: 1em;
    
    padding: 2px 24px;
}

.result-list .has-comments{
    background: transparent url(../images/famfamfam/comments.png) no-repeat right center;
    padding-right: 21px;
}

.result-list li.section .comment-count{
    display: inline;
}

#pagination{
    overflow: hidden;
}

#pagination li{
    line-height: 24px;
    display: block;
    float: left;
    margin: 10px 0;
    padding: 0 10px;
/*    border: solid 1px;*/
}

#pagination .current{
    color: #666;
}
/** End Search Results **/

/** Comments Layout **/

p.active {
    background-color: #eff;
}


.annotation-hook {
    float: right;
    min-width: 32px;
    min-height: 32px;
    background: url(../images/comment-box.png) no-repeat;
}

.annotation-hook .count {
    display: block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top: -0.155555em;
    color: #0a0;
}

.annotation-hook.hidden {
    opacity: 0.3;
    filter:alpha(opacity=30);
}

p:hover .annotation-hook.hidden {
    opacity: 0.5;
    filter:alpha(opacity=50);

}

div.annotation-hook:hover {
    opacity: 1.0;
    filter:alpha(opacity=100);
}

p div.annotation-hook.hidden:hover {
    opacity: 1;
}

.form-jump {
    float: right;
    padding: .5em;
    font-size: 125%;
}

.comment {
    margin: 0 auto 1em;
    width: 100%;
    clear: both;
    background-color: #efefef;
}

.comment .cbody {
    margin: .2em;
    padding: 5px 10px;
    text-align: left;
}
/** End Comments Layout **/

/** work/section **/
    .authors {
    	background: transparent url(../images/h1-line.gif) no-repeat scroll left 9px;
    }

    #work-info .author-name {
    	background-color:#F9F9F9;
    	border:1px solid #E4E3E0;
    	font-family:Georgia,"Times New Roman",Times,serif;
    	font-size:1.2em;
    	font-weight:normal;
    	padding:5px 10px;
    	text-align:center;
    }

    #work-info h1.title {
    	background:transparent none repeat scroll 0 0;
    	padding-bottom:0;
    }



    .base-info {
        width: 70%;
        float: left;
    }

    .base-info .label {
        font-weight: bold;
    }

    .keywords a {
        font-size: .75em;
    }    

    #work-citation {
        display: none;
        background:#FFFFFF url(../images/work-citation-back.jpg) repeat-x scroll left top;
    	 border:1px solid #E4E3E0;

    	font-family:"Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
    	line-height:1.5em;
    	margin:2em 0;
    	padding:1em 2em;

    }

    #work-citation dt {
        font-weight: bold;
        font-variant: small-caps;
    }


    #work-citation dd {
        text-indent: 3em;
    }

    .commentDisplay a {
    	font-size: 125%;
    	float: right;
    }

    #all-comments, #current-comments{
        overflow: auto;
    }

    /** work/section sidebar **/

        #sidebar a {
            text-decoration: none;
        }

        #sidebar a:hover {
            text-decoration: underline;
        }

        #sidebar h1.title {
        	background-image: none;
        	font-size: 1.3em;
        	padding: 20px 0 0;
        }

        #sidebar h2.author-name {
        	font-size: 1.2em;
        	padding: 0;
        }

        #sidebar h3.sections-title {
        	font-size:1.1em;
        	padding-bottom:0.6em;
        	padding-top:20px;
        	text-transform:uppercase;
        }

        #sidebar .authorname {
            font-size: 1em;
        }

        #sidebar .workinfo:hover{
            cursor: pointer;
        }

        img.coverimage {
            max-width: 95%;
            display: block; 
            margin: 0 auto;
        }    

        #sidebar .work-sections li.section {
            border-bottom: 1px solid #000;
            margin: 0 auto;
        }

        #sidebar .work-sections li:hover, #sidebar .work-sections li.current {
            color: inherit;
            background-color: #eae7df;
        }

        #sidebar .work-sections li.first {
        	border-top: 2px solid #000;
        }

        #sidebar .work-sections li.last {
        	border-bottom:2px solid #000000;
        }

        #sidebar .work-sections a {
            display: block;
            color: #000;
            text-decoration: none;
            margin: 0 3px 0 0;
            padding: 10px 18px 10px 5px;
        }
        
        li.section .has-comments{
            background: url("../images/famfamfam/comments.png") no-repeat scroll right center transparent;
            padding-right: 21px;
        }

        .section-nav {
            margin: 0 auto;
            text-align: center;
        }
        
    /** end work/section sidebar **/
    /**
     * Rules that handle display of footnotes on the same page go here
     **/
    #noteDisplay {
        display: none;
        position: fixed;
        background-color: #eee;
        z-index: 15;
        padding-left: 0;
        margin-left: 0;
        margin-right: -2em;
        bottom : 0;
        min-height: 20px;
        border-top: 2px solid #000;
    }

    #noteDisplay span.reference {
        display: none;
    }

    span.pb-display {
        display: none;
        position: absolute;
        clear: both;
        border-left: 3px solid #9a3334;
        height: 3em;
        margin-top: -.8em;
        margin-left: -.2em;
        z-index: 1001;
    }

    li.subject {
    	background:transparent url(../images/asterisk.png) no-repeat scroll left center;
    	padding:0.4em 1.5em;
    }

    .badges img {
        vertical-align: middle;
        padding: 1em;
    }

    span.label {
        font-weight: bold;
    }

    span.abstract {
        font-size : 75%;
    }

    #pagination {

    	margin: 2em auto;
        border-top: 2px solid #eee;
        padding: 10px;
        width: 85%;
    }

    .pager {
    	display: inline-block;
    	width: 20px;
    	margin-right: .5em;
    	border: 2px solid #333;
    	border-radius: 3px;
    	-moz-border-radius: 3px;
    	-webkit-border-radius: 3px;
    }

    .pager a {
    	font-weight: bolder;
    	text-decoration: none;
    	color: #fff;
    	display: block;
    	text-align: center;
    }

    .pager span {
    	display:block;
    	font-weight: bolder;
    	text-align: center;
    }

    .pager.following {
    	background-color: #9a3433;
    }

    .pager.previous {
    	background-color: #349a33;
    }

    #page-navigator {
    	margin: 1em auto;
    	width: 95%;
    }




    .disclosure-closed {
        padding-left: 18px;
        background: url(../images/disclosure-closed.png) left no-repeat;
    }

    .disclosure-open {
        padding-left: 18px;
        background: transparent url(../images/disclosure-open.png) left no-repeat;
    }

    .bottom-navigation {
        margin: 0 auto;
        z-index: 1000;
        overflow: hidden;
    }

    .bottom-navigation .navlinks {
    	float: right;
    }

    .commentDisplay a {
    	font-size: 125%;
    	float: right;
    }

    #all-comments, #current-comments{
        overflow: auto;
    }

/** end work/section **/    

/** Admin/Debug Components **/
.dev-data{
    position:fixed;
    z-index: 1001;
    top: 10px;
    right: 10px;
    border: solid 1px #aaa;
    padding: .5em;
    background: #eee;
}

