{% extends "site_base.html" %}
{% load works %}
{% load tagging_tags %}

{% block pagetitle %}
 - {{ work.title }}
{% endblock %}

{% block headers %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/custom-theme/jquery-ui-1.8.custom.css" type="text/css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/plugins/jquery-ui-1.8.custom.min.js"></script>
<script src="{{ MEDIA_URL }}js/plugins/comments.js" type="text/javascript"></script>

{% endblock %}
	{% block sidebar %}
	<div id="sidebar">
	</div><!-- sidebar -->
	{% endblock %}


	{% block body %}
	<div id="content">	
		<h1>{{collection.name}}</h1>
		<img src="{{collection.media_url}}/banner.jpg" />
		{% block collection_body %}
		{% endblock %}
	</div> <!-- #content -->
	{% endblock %}

	{% block debug %}
	{% if request.user.is_superuser %}
	<div class="dev-data">
	</div><!-- .atools -->
	{% endif %}
	{% endblock %}
