{% extends "collections/collection_base.html" %}
{% block collection_body %}
	<ul class="alpha-anchors">
		<li><a href="#a">a</a></li>
		<li><a href="#b">b</a></li>
		<li><a href="#c">c</a></li>
		<li><a href="#d">d</a></li>
		<li><a href="#e">e</a></li>
		<li><a href="#f">f</a></li>
		<li><a href="#g">g</a></li>
		<li><a href="#h">h</a></li>
		<li><a href="#j">j</a></li>
		<li><a href="#i">i</a></li>
		<li><a href="#k">k</a></li>
		<li><a href="#l">l</a></li>
		<li><a href="#m">m</a></li>
		<li><a href="#n">n</a></li>
		<li><a href="#o">o</a></li>
		<li><a href="#p">p</a></li>
		<li><a href="#q">q</a></li>
		<li><a href="#r">r</a></li>
		<li><a href="#s">s</a></li>
		<li><a href="#t">t</a></li>
		<li><a href="#u">u</a></li>
		<li><a href="#v">v</a></li>
		<li><a href="#w">w</a></li>
		<li><a href="#x">x</a></li>
		<li><a href="#y">y</a></li>
		<li><a href="#z">z</a></li>
	</ul>
	<ul class="collection-works-list">
		{% for work in collection.works_list %}
		<li class="work">
			<div class="author-display">{{work.author_display}}</div>
			<div class="title"><a href="{{work.get_absolute_url}}">{{work.title}}</a></div>
			<div class="publisher">{{work.publisher}}</div>
		</li>
		{% endfor %}
	<ul>
{% endblock %}