{% extends "site_base.html" %}
{% block pagetitle %}
 - Change Your Password
{% endblock %}

{% block body %}
 <div id="content">
  {% include "form-errors.html" %}
 <div class="form">
<form method="post" id="password-change" action="{% url auth_password_change %}">
  <fieldset>
    <legend>Change Password</legend>
    {{ form.as_p }}
   <button type="submit" class="submit" value="Change Password">
    <span>Change Password</span>
   </button>
   </fieldset>
  </form>
 </div>
</div> <!-- #main -->
{% endblock %} 
