{% extends "site_base.html" %}

{% block pagetitle %}
 <title>Password Reset</title>
{% endblock %}

{% block body %}
 <div id="content">
  {% include "form-errors.html" %}
 <div class="form">
<form method="post" id="password-reset" action="{% url auth_password_reset %}">
  <fieldset>
    <legend>Reset Password</legend>
    {{ form.as_p }}
    <button type="submit" class="submit" value="Reset Password">
        <span>Reset Password</span>
    </button>
  </fieldset>
   
  </form>
 </div>
  <p>
  If you have forgotten your password for this site, enter the email address you provided when you created your account into the box above.
  </p>
  <p>Instructions for resetting your password will be sent to that address.</p>
 
</div> <!-- #main -->
   
  
{% endblock %} 
