{% extends "site_base.html" %}

{% block pagetitle %}
 - Thanks for Registering
{% endblock %}

{% block body %}
 <div id="content">
  <h1>Thanks for Registering</h1>
  <p>Your account has been created, but you'll need to activate it before you
   can log in and use it to post comments.  An email with instructions
   for activating your account has been sent to the email address you provided.
  </p>
  <p>
    If you don't receive the aforementioned email within a reasonable
    period of time, check your spam filters (these may reside in your
    mail client or your ISP may be performing filtering for you); if
    you still can't find the email, please contact us at lcrm AT unc dot edu
    and we'll help register you.
 </div>
{% endblock %}




