<!-- <ul class="browselist">
    <li style="border: none; font-weight: bold;">Browse: </li>
	{% for facet in browseables %}
    <li{% if forloop.last %} class="last"{%endif%}><a href="{% url works:browse %}?genre={{facet.name}}" title="View {{facet.name }}s ({{facet.count}} titles)">{{ facet.name }}s</a><span class="facet-count"> ({{facet.count}})</span></li>
    {% endfor %}
</ul> -->
<dl>
{% for facet, vals in browseables.iteritems %}
	<dt>
		{{facet}}s
	</dt>
	<dd>
		<ul class="browselist">
			{% for f in vals %}
		    <li{% if forloop.last %} class="last"{%endif%}><a href="{% url works:browse %}?{{facet}}={{f.name}}" title="View {{f.name}} ({{f.count}} titles)">{{ f.name }}</a><span class="facet-count"> ({{f.count}})</span></li>
		    {% endfor %}
		</ul>
	</dd>
{% endfor %}
<dl>