<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Spud: {{ app.name|default:"New Application" }}</title>
 </head>
 <body>
  <div id="wrapper">
   <div id="sidebar">
    {% block sidebar %}
     <h1>Sidebar</h1>
      <ul>
       <li>This is sidebar content</li>
      </ul>
      <p>This is some generic content, a sort of footer for the
      sidebar if you like.</p>
    {% endblock %}
   </div>
   <div id="main">
    {% block main %}
    <h1>{{Action}} Application</h1>
    {% if form.errors %}
    <div class="errors">
      {{ form.errors }}
    </div>
    {% endif %}
      <form name="application-edit" method="POST" action="">
      <table class="edit-form">
      {{ form.as_table }}
      </table>
      <input type="submit" value="{{ action }}" />
      </form>
    {% endblock %}
   </div> <!-- main -->
  </div><!-- wrapper -->
 </body>
</html>